@model IEnumerable<Pile.db.Customer>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Flag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LatePmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpouseFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpouseLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Combo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalServiceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhyQuit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhyQuitSpecify)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RouteStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HowFound)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HowFoundSpecify)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QBId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QbSyncToken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QBBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QBTotalBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QBInvoiceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QBSubTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QBLastInvoiceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DBStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DBEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LateLastSent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CallOfficeLastSent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalNoticeLastSent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCardOnFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerSetup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeetScheduled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeetPerformed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeetSchDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeetSchTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FMNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BulkEmailDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractRenewalTerm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractCancellationTerm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastQbUpdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Flag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LatePmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpouseFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpouseLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Combo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalServiceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WhyQuit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WhyQuitSpecify)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RouteStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HowFound)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HowFoundSpecify)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GPS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QBId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QbSyncToken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QBBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QBTotalBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QBInvoiceNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QBSubTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QBLastInvoiceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DBStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DBEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LateLastSent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CallOfficeLastSent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalNoticeLastSent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditCardOnFile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerSetup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeetScheduled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeetPerformed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeetSchDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeetSchTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FMNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BulkEmailDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractRenewalTerm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractCancellationTerm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastQbUpdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerId })
        </td>
    </tr>
}

</table>
